<!DOCTYPE html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
	<!-- Menu -->
    <%- partial('_partial/menu') %>
    
	<div class="container">
    	<!-- Blog Header: title and subtitle -->
    	<%- partial('_partial/header') %>

    	
			
			<!-- Main Content -->
            
                <%- body %>
           
			
			<!-- Sidebar -->
           
		
        
    </div>
	
	<!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>