                <div class="row">
                <div class="col-md-8">
                
                
                <!-- Blog Post -->
                <h2 class="blog-post-title">
                    <a href="<%- config.root %><%- item.path %>">
                        <%- item.title || item.link%>
                     </a>
                </h2>
                

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> <%= item.date.format(config.date_format) %></p>

                <hr>

                <!-- Post Content -->
                 <%- item.content %>

                <hr>

                <!-- Tags and Categories links -->
                <%- partial('article-tags', {item: item}) %>
                <%- partial('article-categories', {item: item}) %>
                <hr>
                
                <!-- Pager -->
                <%- partial('_partial/pagination') %>
                </div>
               

                <%- partial('_partial/sidebar') %>
                </div>
